<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="header">
    <h3>Add a New Challenge!</h3>
    <a href="/app/users/{{request.session.user_id}}">Back to my page</a>
    <br><a href="/logout">logout</a>
</div>   
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST" action="/app/users/{{request.session.user_id}}/challenges/create">
    {% csrf_token %}
    <p>Name of Challenge:<input name="name"></p>
    <p>Transaction Maximum:<input name="purchase_max"></p>
    <p>Total $$ Maximum:<input name="dollar_max"></p>
    
   
       
    <p>Categories</p>

    {%for category in categories%}
    <p><input type="checkbox" value="{{category.name}}" name="{{category.name}}">{{category.name}}</p>
    {%endfor%}

    <input type="submit" value="Add Challenge and take me to challenge page">

   


</form>


</body>

<style>
h3{
margin-left: 600px;
}

</style>
</html>

