<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Challenge Comparison Page</h1>
    </p>

    <p>Challenge Name: {{challenge.name}}</p>
    <p>Your maximum spending amount: {{challenge.dollar_max}} </p>
    <p>Your maximum number of transactions: {{challenge.purchase}}</p>

    <div class="user1">
        <p>Name:</p>
        <table>
                <thead>
                    <th>Purchase</th>
                    <th>Amount</th>
                </thead>
            </table>
        </div>

    </div>

    <div class="user2">
        <p>Name:</p>
        <table>
            <thead>
                <th>Purchase</th>
                <th>Amount</th>
            </thead>
        </table>
    </div>
    
</body>

<style>
    .user1{
        display: inline-block;
        border: 1px solid black;
    }
    .user2{
        display: inline-block;
        border: 1px solid black;
    }


</style>

</html>