<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Challenge Comparison Page</h1>
    </p>

    <p>Challenge Name: {{challenge_to_show.name}}</p>
    <p>Your maximum spending amount: {{challenge_to_show.dollar_max}} </p>
    <p>Your maximum number of transactions: {{challenge_to_show.purchase_max}}</p>
    <p>Categories:
        {% for category in challenge_to_show.categories.all %}
            {{category.name}} 
        {% endfor %}
    </p>

    <div class="user1">
        <p>Name: {{user.first_name}} {{user.last_name}}</p>
        <table>
                <thead>
                    <th>Purchase</th>
                    <th class="amount">Amount</th>
                </thead>
            </table>
        </div>

    </div>

    <div class="user2">
        <p>Name:</p>
        <table>
            <thead>
                <th>Purchase</th>
                <th class="amount">Amount</th>
            </thead>
        </table>
    </div>
    <form action="/add_challenger", method='POST'>
        <p>Invite A Challenger:<input type="email" name="emailinvite"></p>
    <input type="submit" value="Add Challenger">
    </form>
    
</body>

<style>
    .user1{
        display: inline-block;
        border: 1px solid black;
        
    }
    .user2{
        display: inline-block;
        border: 1px solid black;
        margin-left: 80px;
    }
 
</style>

</html>