<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global_style.css' %}">
</head>
<body>
    <div id="header">
        <h3 id="mypurchasesheader">My purchases!</h3>
        <a href="/app/users/{{request.session.user_id}}">Back to my page</a>
        <br><a href="/logout">Log Out</a>
    </div>
    <br><br>
<table id="purchases_table">
    <thead>
        <th>Category</th>
        <th>Item</th>
        <th>Amount</th>
    </thead>
    {%for purchase in user_purchases%}
    <tr>
        <td>{{purchase.category.name}}</td>
        <td>{{purchase.item_name}}</td>
        <td>{{purchase.amount}}</td>
    </tr>
    {%endfor%}
</table>
<h4 id= "total_spendings">Total Spendings for {{request.session.user_name}}: {{user.get_sum}}</h4>

<p><a id= "add_another_purchase" href="/app/users/{{request.session.user_id}}/purchases/new">Add another purchase</a></p>
    
    
    
</body>


</html>