<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>My Purchases</h1>
<table>
    
    {%for purchase in user_purchases%}
    <tr>
        <td>{{purchase.category.name}}</td>
        <td>{{purchase.item_name}}</td>
        <td>{{purchase.amount}}</td>
    </tr>
    {%endfor%}
</table>

<a href="/app/users/{{request.session.user_id}}">Back to My Page</a>
<p><a href="/app/users/{{request.session.user_id}}/purchases/new">Add another purchase</a></p>
    
    
    
</body>
</html>