*{
    font-family: sans-serif;
}

#registration, #login{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.messages{
    background: #ff9999;
    padding: 10px;
    width: fit-content;
}

ul li{
    background: whitesmoke;
    margin: 5px;
}

